.wrapper {
  @include flex-arrange(flex-start, flex-start);
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: $white-01;
  gap: 12px;

  height: 84vh;
  overflow-y: scroll;
  overflow-x: hidden;

  position: relative;
}

.back {
  position: absolute;
  top: 30px;
  bottom: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 614px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    padding: 30px;
  }

  .back {
    top: 40px;
    bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 740px;
  }
}
