.wrapper {
  @include glass-02(none);
  @include flex-arrange(flex-start, flex-start);
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 12px;

  position: relative;
}

.back {
  position: absolute;
  top: 30px;
  bottom: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 614px;
    border-radius: 10px;
    border: $glass-edge-01;
    padding: 30px;
  }

  .back {
    top: 40px;
    bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 740px;
  }
}
