.wrapper {
  @include glass-02(none);
  @include flex-arrange(flex-start, flex-start);
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 12px;

  position: relative;
}

.back {
  position: absolute;
  top: 30px;
  bottom: 20px;
}

.scroll-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $glass-02;

  @include flex-arrange;
  cursor: pointer;

  &:hover {
    background-color: $primary-01;
    transform: scale(1.1);
    transition-property: transform, background-color;
    transition-duration: 0.2s;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 614px;
    border-radius: 10px;
    border: $glass-edge-01;
    padding: 30px 30px 0;
  }

  .back {
    top: 40px;
    bottom: 30px;
  }

  .scroll-top {
    bottom: 80px;
    right: 30px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 740px;
  }

  .scroll-top {
    right: 40px;
  }
}
