.category {
  @include flex-arrange;
  @include font-style(1.4rem, $black-01, 600);
  height: 32px;
  padding: 7px 20px;
  gap: 10px;
  border-radius: 100px;
  background: $gary-03;

  &.selected {
    background: $black-01;
    color: $white-01;
  }
}
