@media (min-width: 1200px) {
  .dropdown-expand-button {
    color: $black-01;
    background-color: $gray-03;
    width: 84px;
    height: 32px;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .expanded-dropdown-container {
    display: flex;
    flex-direction: column;
  }

  .icon-container {
    display: inline-flex;
  }

  .expanded-dropdown-list {
    display: flex;
    color: $black-01;
    background-color: $gray-03;
    width: 84px;
    height: 32px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 8px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .first-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .last-item {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
