.wrapper {
  z-index: 2;
}

.dropdown-expand-button {
  @include flex-arrange(space-between, center);
  @include font-style(1.3rem, $white-01, 600);
  border-radius: 5px;
  border: $glass-edge-01;
  width: 84px;
  height: 32px;
  padding-left: 15px;
  padding-right: 8px;
  position: relative;
}

.expanded-dropdown-container {
  @include glass-02;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 4px;
  backdrop-filter: blur(30px);
  border-radius: 5px;
}

.icon-container {
  display: inline-flex;
}

.dropdown-arrow {
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: $gray-02;
  }
}

.expanded-dropdown-list {
  backdrop-filter: blur(115px);
  @include font-style(1.3rem, $white-01, 600);
  @include flex-arrange(flex-start, center);
  @include glass-02;
  width: 84px;
  height: 32px;
  border: none;
  padding: 12px 15px;
  z-index: 2;

  &:not(:last-child) {
    border-bottom: none;
  }

  &:hover {
    background-color: $gray-02;
  }
}

.first-item {
  border-radius: 5px 5px 0 0;
}

.last-item {
  border-radius: 0 0 5px 5px;
}
