.wrapper {
  @include flex-arrange(center, flex-start);
  flex-direction: column;
  width: 100%;
}

.category {
  @include font-style(1.6rem, $gray-01, 500);
  margin: 5rem 0 8px;
}

.title {
  @include font-style(2.4rem, $white-01, 700);
  // @include font-style(1.6rem, $white, 700); 로 수정 예정
  margin-bottom: 20px;
}

.header {
  @include flex-arrange(space-between, center);
  width: 100%;
}

.divide-line {
  width: 100%;
  height: 0.5px;
  background-color: $gray-01;
  margin: 20px 0;
}

.markdown-content {
  @include markdown-style;
  max-width: 100%;
}

.hashtag-container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
