.follow-wrapper {
  @include flex-arrange(space-between, center);
  padding-top: 16px;
  width: 320px;

  .follow-info {
    @include flex-arrange(center);
    gap: 20px;

    span {
      @include font-style(1.4rem, $white-01, 600);
    }
  }

  img {
    border-radius: 50%;
  }
}
