.generation-container {
  @include font-style(1.2rem, $primary-01, 600);
  height: 18px;
  padding: 2px 10px;
  background: $primary-02;
  border-radius: 100px;
  text-align: center;
}

.waiting {
  @extend .generation-container;
  @include color($gray-03, $black-03);
}
