.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: {
    top: 16px;
    bottom: 16px;
  }
  @media (min-width: 768px) {
    padding: {
      left: 24px;
      right: 24px;
    }
  }
}
.feed-detail-modalSize {
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    width: 614px;
    height: auto;
  }
  @media (min-width: 1200px) {
    width: 740px;
  }
}

.load-more {
  @include flex-arrange;

  .button {
    width: 35px;
    color: $white-01;
    border: 1px solid;
    border-radius: 5px;
  }
}
