@media (min-width: 1200px) {
  .header-container {
    display: flex;
    background-color: $gary-02;
    width: 740px;
    height: 126px;
    border-radius: 10px;
    opacity: 0px;
    padding: 20px 30px;
  }

  .profile-information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 285px;
  }

  .profile-name-section {
    display: flex;
    font-weight: 700;
    margin: auto 0;
  }

  .gen-badge {
    color: $purple-01;
    background: $purple-02;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 38px;
    height: 18px;
    padding-top: 3px;
    gap: 10px;
    border-radius: 100px;
    margin-left: 6px;
  }

  .profile-following-section {
    display: flex;
    font-weight: 600;
    gap: 20px;
    color: $black-02;

    span {
      color: $black-03;
      font-weight: 500;
      margin-right: 8px;
    }
  }

  .profile-intruduce-section {
    color: $gary-01;
  }

  .profile-setting-button {
    img {
      cursor: pointer;
    }
  }
}
