.wrapper {
  @include flex-arrange(center, flex-start);
  @include glass-01(none);
  flex-direction: column;
  padding: 20px 20px 12px;
  gap: 20px;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;

  &:hover {
    // 포스트 카드에 hover시 스타일 미정이라 임시로 추가. 추후 삭제 or 수정 예정
    transform: scale(1.01);
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  @include font-style(2rem, $white-01, 700);
  // @include font-style(2.0rem, $white, 700); 로 수정 예정
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 135%;
  -webkit-line-clamp: 2;
}

.content {
  color: $gray-03;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;

  line-height: 135%;
  font-weight: 600;
}

.hashtag-container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .wrapper {
    border-radius: 10px;
  }
}
