.container {
  width: 100%;
  max-width: 740px;
  height: 60px;
  padding: 12px 20px;
  background: var(--gray2, #dbdbdb);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;

  .input-wrapper {
    width: 65%;
    max-width: 390px;
    input {
      width: 100%;
      height: 36px;
      border-radius: 56px;
      border: none;
    }
  }
}
