.wrapper {
  width: 100%;
}

.textarea {
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 15px 16px;
  @include color($black-03, $white-01);

  ::-webkit-scrollbar {
    display: none;
  }
}
