.layout-container {
  min-height: 100vh;
  background: $gray-01;

  .layout-contnet {
    padding-top: 65px;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 76px 30px 614px 30px 1fr;
    display: grid;
    grid-template-rows: 109px auto;
    .layout-navigaionBar,
    .layout-contnet {
      grid-column: 4 / 5;
      padding: 0;
    }
    .layout-navigaionBar {
      padding-top: 49px;
    }
    .layout-sideBar {
      grid-column: 2 / 3;
    }
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 76px 30px 740px 30px 1fr;
  }
}
