.layout-container {
  min-height: 100vh;
  width: 100%;
  overflow: visible;
  padding-bottom: 45px;

  .layout-main-content {
    @include flex-arrange(flex-start, center);
    padding-top: 65px;
    flex-direction: column;
    position: relative;
  }
  .layout-side-content{
    display: none;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 76px 20px 614px 20px 1fr;
    display: grid;
    grid-template-rows: 109px auto;
    .layout-main-content {
      grid-column: 4 / 5;
      padding: 0;
    }
    .layout-navigaionBar {
      grid-column: 1 / 7;
    }

    .layout-sideBar {
      position: relative;
      grid-column: 2;
      grid-row: 2;
      height: 268px;

      .popover-box {
        position: fixed;
        z-index: 10;
      }
    }
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 76px 20px 740px 20px 264px 1fr;
    .layout-side-content{
      grid-column: 6;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
