.class-badge {
  color: $primary-01;
  background: $primary-02;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  width: 38px;
  height: 18px;
  padding-top: 3px;
  gap: 10px;
  border-radius: 100px;
  margin-left: 6px;
}
