.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: {
    top: 16px;
    bottom: 16px;
  }
  padding: {
    left: 20px;
    right: 20px;
  }
}
.feed-detail-modalSize {
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    border-radius: 10px;
    width: 614px;
    height: auto;
  }
  @media (min-width: 1200px) {
    width: 740px;
  }
}
