@media (min-width: 1200px) {
  .default-button {
    background-color: $purple-01;
    color: $white-01;
    font-size: 1.6rem;
    font-weight: 700;
    width: 320px;
    height: 48px;
    padding: 14px 28px;
    border: none;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;

    &.large {
      width: 320px;
    }

    &.medium {
      width: 100px;
    }

    &.small {
      width: 85px;
    }

    &.purple {
      background-color: $purple-01;
    }

    &.lightgray {
      background: $gary-02;
    }
  }
}
