.default-button {
  @include color($primary-01, $white-01);
  width: 320px;
  height: 48px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 14px 28px;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  border: none;

  // 버튼 컬러들 (추후 추가 가능)
  &.primary-01 {
    @include color($primary-01, $white-01);
  }

  &.primary-02 {
    @include color($primary-02, $primary-01);
  }

  &.gray-02 {
    @include color($gray-02, $white-01);
  }

  &.red-01 {
    @include color($red-01, $white-01);
  }

  &.white-01 {
    @include color($white-01, $primary-01);
    border: 1px solid #9747ff;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &.large {
    width: 100%;
  }

  &.medium {
    width: 100%;
  }

  &.small {
    width: 85px;
  }

  @media (min-width: 768px) {
    &.medium {
      width: 100px;
    }
  }

  @media (min-width: 1200px) {
    // 버튼 사이즈
    &.large {
      width: 320px;
    }
  }
}

@media (min-width: 768px) {
  .default-button {
    &.large {
      width: 100%;
    }

    &.medium {
      width: 100px;
    }

    &.small {
      width: 85px;
    }
  }
}

@media (min-width: 360px) {
  .default-button {
    &.large {
      width: 100%;
    }

    &.medium {
      width: 100%;
    }
  }
}
