.wrapper {
  display: flex;
  gap: 14px;
  margin-top: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.reply-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $gray-03;
  padding: 16px 0;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  border-image-slice: 1;

  &:last-child {
    border-bottom: none;
  }
}

.reply-writer {
  @include flex-arrange(space-between, center);
  width: 100%;
}

.reply-input {
  display: flex;
  gap: 8px;
}

.like-container {
  @include flex-arrange;
  gap: 8px;
}

.like-count {
  @include font-style(1.2rem, $gray-01, 500);
}
