@mixin flex-arrange($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-style($size, $color: $black-01, $weight: 600) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin color($background-color, $font-color) {
  background-color: $background-color;
  color: $font-color;
}

@mixin glass-01($edge: $glass-edge-01) {
  background-color: $glass-01;
  backdrop-filter: blur(15px);
  border: $edge;
}

@mixin glass-02($edge: $glass-edge-01) {
  background-color: $glass-02;
  backdrop-filter: blur(15px);
  border: $edge;
}
