@mixin flex-arrange($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-style($size, $color: $black-01, $weight: 600) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin color($background-color, $font-color) {
  background-color: $background-color;
  color: $font-color;
}

@mixin glass-01($color: $glass-01, $blur: 15px, $edge: $glass-edge-01) {
  background-color: $color;
  backdrop-filter: blur($blur);
  border: $glass-edge-01;
}

@mixin glass-02($color: $glass-02, $blur: 15px, $edge: $glass-edge-01) {
  background-color: $color;
  backdrop-filter: blur($blur);
  border: $glass-edge-01;
}
