$purple-01: #9747ff;
$purple-02: #f0e4ff;

$black-01: #353535;
$black-02: #505050;
$black-03: #767676;

$gray-01: #a8a8a8;
$gray-02: #dbdbdb;
$gray-03: #f6f6f6;

$white-01: #ffffff;
$white-02: #f6f6f6;
