$primary-01: #8576ff;
$primary-02: #efe3ff;

$black-01: #212531;
$black-02: #404559;
$black-03: #585c6d;

$gray-01: #a0a5bb;
$gray-02: #c2c7d9;
$gray-03: #f1f3fa;

$white-01: #ffffff;
$white-02: #f6f6f6;

$red-01: #ed1c24;

$glass-01: rgba(88, 92, 109, 0.2);
$glass-02: rgba(88, 92, 109, 0.4);

$glass-edge-01: 1px solid rgba(255, 255, 255, 0.15);

$hashtag-colors: (
  hashtag1: (
    #ffeaea,
    #ff5151,
  ),
  hashtag2: (
    #ffe1cc,
    #ff7512,
  ),
  hashtag3: (
    #fff1be,
    #e2b000,
  ),
  hashtag4: (
    #ddf2c8,
    #65c900,
  ),
  hashtag5: (
    #d5eeff,
    #0098ff,
  ),
  hashtag6: (
    #f0e4ff,
    #9747ff,
  ),
);

:export {
  primary01: $primary-01;
  primary02: $primary-02;

  black01: $black-01;
  black02: $black-02;
  black03: $black-03;

  gray01: $gray-01;
  gray02: $gray-02;
  gray03: $gray-03;

  white01: $white-01;
  white02: $white-02;

  red01: $red-01;

  glass01: $glass-01;
  glass02: $glass-02;

  glassEdge01: $glass-edge-01;
}
