@import 'fonts';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', Helvetica;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    &::-webkit-scrollbar {
      display: block;
      width: 12px;
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      outline: none;
      border-radius: 10px;
      border: 3px solid transparent;
      color: $gray-01;
      box-shadow: inset 6px 6px 0;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: inherit;
    }
  }
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', Helvetica;
  font-size: 1.6rem;
  background-image: url('/images/cosmos.png');
  background-size: cover;
  background-attachment: fixed;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $black-01;
}

ol,
ul {
  list-style: none;
}

input,
textarea {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.w-md-editor {
  border-radius: 5px !important;
  background-color: #585c6d !important;
  --md-editor-box-shadow-color: transparent !important;
  color: white !important;
  line-height: 150%;

  &-toolbar {
    border-radius: 5px 5px 0 0 !important;
    background-color: #585c6d !important;

    ul {
      display: flex;
      align-items: center;
      padding-right: 12px !important;
    }
  }

  a {
    color: $primary-02;
    text-decoration: dashed;
  }
}

.wmde-markdown {
  line-height: 240%;
}

textarea::placeholder,
input::placeholder {
  @include font-style(1.6rem, $gray-01, 600);
}
