.wrapper {
  display: flex;
  gap: 4px;
  width: 100%;
  position: relative;

  .icon-wrapper {
    display: flex;
  }
}

.reaction {
  @include flex-arrange;
  @include font-style(1.2rem, $gray-01, 500);
  border-radius: 5px;
  gap: 8px;
  width: 100%;
  padding: 6px 35px;
}

.emoji {
  &:hover {
    background-color: $black-02;
  }
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .reaction {
    width: auto;
    padding: 0;
  }

  .icon-wrapper {
    display: flex;
    gap: 12px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.details-emoji-bundler {
  flex-grow: 1;
}
