.wrapper {
  display: flex;
  gap: 4px;
  width: 100%;
  position: relative;

  .forDeatils {
    position: relative;
    background-color: red;
  }
}

.reaction {
  @include flex-arrange;
  @include font-style(1.2rem, $gray-01, 500);
  border-radius: 5px;
  gap: 8px;
  width: 100%;
  padding: 6px 35px;
}

.emoji {
  &:hover {
    background-color: $gray-03;
  }

  &:active {
    background-color: $gray-02;
  }
}

.details-wrapper {
  display: flex;

  .reaction {
    width: auto;
    padding: 0;
  }
}

.details-emoji-bundler {
  flex-grow: 1;
}