.login-button {
  @include flex-arrange(flex-start);
  width: 320px;
  height: 48px;
  padding-left: 20px;
  gap: 40px;
  border-radius: 5px;
  background: $gray-02;
  span {
    @include font-style(1.6rem, $black-01, 700);
  }
}
