.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  @include flex-arrange(space-between, center);
}

.like {
  @include flex-arrange;
  @include font-style(1.2rem, $gray-01, 500);
  gap: 6px;
}

.container {
  display: flex;
  gap: 24px;
}
