.wrapper {
  display: flex;
  gap: 8px;

  .textarea-wrapper {
    position: relative;
    align-items: flex-end;
    width: 100%;

    .textarea {
      border: none;
      width: 100%;
      height: 48px;
      line-height: 135%;
      resize: none;
      font-size: 1.6rem;
      border-radius: 5px;
      padding: 15px 16px;
      touch-action: none;
      overflow: hidden;

      @include color($black-03, $white-01);

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .error {
    position: absolute;
    font-size: 1.3rem;
    color: #ed1c24;
    padding-left: 16px;
    right: 0px;
    bottom: -19px;
  }
}

.edit-button {
  padding: 4px 20px;
  border-radius: 5px;
  background-color: $primary-01;
  color: $white-01;
  height: 100%;
}
