.wrapper {
  display: grid;
  align-items: center;
  grid-template-areas: 'image nickname generation' 'image date .';
  row-gap: 2px;
  column-gap: 8px;
}

.profile-image {
  grid-area: image;
}

.nickname {
  grid-area: nickname;
  @include font-style(1.4rem, $black-01, 600);
}

.created-at {
  grid-area: date;
  @include font-style(1.2rem, $black-03, 500);
}

.generation-badge {
  @include flex-arrange;
  @include font-style(1.2rem, $primary-01, 600);
  grid-area: generation;
  width: 38px;
  height: 18px;
  padding: 7px 10px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: $primary-02;
}
