.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.comment-list-area {
  max-height: 400px;
  overflow: scroll;
  scrollbar-width: none;
  border-radius: 5px;

  @media (min-width: 768px) {
    max-height: 350px;
  }

  .comment-list {
    padding-bottom: 20px;
    border-style: solid;
    border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    border-image-slice: 1;
    border-image-width: 0 0 1px 0;
    margin-bottom: 20px;

    &:last-child {
      border: none;
      padding-bottom: 0px;
    }
  }
}

.empty-comment {
  @include flex-arrange;
  height: 100px;

  .message {
    @include font-style(1.6rem, $gray-02, 500);
  }
}
