.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.divide-line {
  width: 100%;
  height: 1px;
  background-color: $gray-02;
  margin: 16px 0;
}

.empty-comment {
  @include flex-arrange;
  height: 100px;

  .message {
    @include font-style(2rem, $gray-02, 600);
  }
}
