.add-popover {
  left: 90px;
  bottom: 78px;

  @media (min-width: 768px) {
    bottom: unset;
    top: 200px;
  }
}

.content-list-wrapper {
  @include glass-02;
  width: 180px;
  border-radius: 10px;

  .content-list {
    @include flex-arrange(flex-start, center);
    @include font-style(1.6rem, $white-01, 600);
    width: 100%;
    gap: 12px;
    list-style: none;
    cursor: pointer;

    .post-span {
      @include font-style(1.6rem, $white-01, 600);
    }

    &:hover {
      background-color: $glass-01;
    }
  }
  .feed {
    padding: 20px 20px 10px 20px;
  }
  .post {
    padding: 10px 20px 20px 20px;
  }
}

.create-feed-modalSize {
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    width: 614px;
    height: auto;
  }
  @media (min-width: 1200px) {
    width: 740px;
  }
}
