.emoji-container {
  display: flex;
  position: absolute;
  top: -50px;
  left: 0px;
  background-color: $black-02;
  border-radius: 10px;
  background: $black-02;
  backdrop-filter: blur(15px);
  padding: 4px;
  gap: 4px;
}

.left {
  left: 0px;
}

.middle {
  left: -80px;
}

.right {
  left: -180px;
}

@media (min-width: 768px) {
  .emoji-container {
    top: -48px;
    left: -80px;
  }
}
