.wrapper.detail {
  @include flex-arrange;
  padding: 4px 9px;
  background: $black-01;
  flex-shrink: 0;
  width: 48px;
  height: 26px;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 5px;

  &:hover {
    background-color: $black-03;
  }
}

.container {
  @include flex-arrange;
  @include font-style(1.2rem, $white-01, 400);
  width: 100%;
  gap: 4px;
}

.clicked {
  box-shadow: 0 0 0 1px $primary-01 inset;
  color: $primary-01;
}
