.sideBar-container {
  width: 100%;
  height: 72px;
  padding: 12px 24px;
  background: $gary-02;
  display: flex;
  position: fixed;
  bottom: 0;

  .icon-wrapper {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    img {
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    width: 76px;
    height: 268px;
    border-radius: 70px;
    backdrop-filter: blur(15px);
    padding: 30px 0;
    top: 110px;
    .icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .icon-wrapper :nth-child(2) {
      order: 1;
    }
  }
}
