.sideBar-container {
  @include glass-01;
  width: calc(100% - 20px);
  height: 72px;
  padding: 12px 24px;
  display: flex;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 70px;
  margin: 0 20px 12px 0;

  .icon-wrapper {
    @include flex-arrange(space-between, center);
    width: 100%;
    padding: 0 20px;
    position: relative;
    img {
      cursor: pointer;
    }

    .icon-box {
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    width: 76px;
    height: 268px;
    backdrop-filter: blur(15px);
    padding: 30px 0;
    position: relative;
    position: fixed;
    z-index: 99;
    left: unset;
    transform: unset;
    top: 110px;
    margin: 0;

    .icon-wrapper {
      flex-direction: column;
      .add-icon {
        order: 1;
      }
    }
  }
}
