.wrapper {
  @include glass-01(none);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}

.header {
  @include flex-arrange(space-between, center);
  width: 100%;
  height: 50px;
}

.post-type {
  display: flex;
  gap: 40px;
  height: 100%;
  margin-left: 30px;
  position: relative;
}

.option {
  @include font-style(1.6rem, $gray-01, 700);
  height: 100%;

  &.feed {
    color: $white-01;
    transition: 0.15s color ease-in-out;
  }

  &.post {
    color: $white-01;
    transition: 0.15s color ease-in-out;
  }

  &.scrap {
    color: $white-01;
    transition: 0.15s color ease-in-out;
  }

  &.hashtag {
    color: $white-01;
    transition: 0.15s color ease-in-out;
  }

  &.user {
    transform: translateX(90px);
  }
}

.active {
  position: absolute;
  top: 49px;
  width: 53px;
  height: 2px;
  background-color: $white-01;
  transition: 0.15s transform ease-in-out;

  &.feed {
    width: 40px;
    transform: translateX(-6px);
  }

  &.post {
    transform: translateX(61px);
  }

  &.scrap {
    transform: translateX(143.5px);
  }

  &.hashtag {
    width: 70px;
    transform: translateX(-8px);
  }

  &.user {
    transform: translateX(90px);
  }
}

.active-text {
  color: $white-01;
}

.divide-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

// 추후 dropdown 컴포넌트로 변경 예정
.dropdown {
  margin-right: 12px;
}

.content {
  min-height: 80vh;
  margin-bottom: 20px;
}

.filter-container {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 614px;
    border-radius: 10px;
    border: $glass-edge-01;
  }

  .dropdown {
    margin-right: 24px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 740px;
  }
}
