.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: $gray-02;
  backdrop-filter: blur(15px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  height: 50px;
}

.post-type {
  display: flex;
  gap: 40px;
  height: 100%;
  color: $black-01;
  font-weight: 700;
  margin-left: 30px;
  position: relative;
}

.option {
  font-size: 1.6rem;
  color: $gray-01;
  font-weight: 700;
  height: 100%;

  &.active-text {
    color: $purple-01;
  }
}

.active {
  position: absolute;
  top: 49px;
  height: 2px;
  background-color: $purple-01;
  transition: 0.15s transform ease-in-out;

  &.feed {
    width: 40px;
    transform: translateX(-6px);
  }

  &.post {
    width: 53px;
    transform: translateX(61px);
  }

  &.scrap {
    width: 53px;
    transform: translateX(143.5px);
  }
}

.divide-line {
  width: 100%;
  height: 1px;
  background: $gray-01;
}

// 추후 dropdown 컴포넌트로 변경 예정
.dropdown {
  margin-right: 20px;
}

.content {
  padding: 12px 0;
}

@media (min-width: 768px) {
  .wrapper {
    width: 614px;
    height: 500px;
    border-radius: 10px;
  }

  .dropdown {
    margin-right: 24px;
  }

  .content {
    padding: 16px 24px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 740px;
  }
}
