.scroll-top {
  @include glass-02(none);
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $glass-02;
  backdrop-filter: blur(10px);

  @include flex-arrange;
  cursor: pointer;

  &:hover {
    background-color: $primary-01;
    transform: scale(1.1);
    transition-property: transform, background-color;
    transition-duration: 0.2s;
  }
}

.wrapper {
  @include glass-01(none);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.header {
  @include flex-arrange(space-between, center);
  width: 100%;
  height: 50px;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.post-type {
  display: flex;
  gap: 40px;
  height: 100%;
  margin-left: 30px;
  position: relative;
}

.up {
  position: sticky;
  top: 65px;
  z-index: 3;
  background: linear-gradient(to right, #171a27, #282c3e);

  transition: top 0.5s ease-in-out;
}

.down {
  position: sticky;
  top: -10px;
  z-index: 3;
  background: linear-gradient(to right, #171a27, #282c3e);

  transition: top 0.5s ease-in-out;
}

.option {
  @include font-style(1.6rem, $gray-01, 700);
  height: 100%;

  &.feed {
    color: $white-01;
    transition: 0.15s color ease-in-out;
  }

  &.post {
    color: $white-01;
    transition: 0.15s color ease-in-out;
  }

  &.scrap {
    color: $white-01;
    transition: 0.15s color ease-in-out;
  }

  &.hashtag {
    color: $white-01;
    transition: 0.15s color ease-in-out;
  }

  &.user {
    transform: translateX(90px);
  }
}

.active {
  position: absolute;
  top: 49px;
  width: 53px;
  height: 2px;
  background-color: $white-01;
  transition: 0.15s transform ease-in-out;

  &.feed {
    width: 40px;
    transform: translateX(-6px);
  }

  &.post {
    transform: translateX(61px);
  }

  &.scrap {
    transform: translateX(143.5px);
  }

  &.hashtag {
    width: 70px;
    transform: translateX(-8px);
  }

  &.user {
    transform: translateX(90px);
  }
}

.active-text {
  color: $white-01;
}

.keyword-text {
  @include font-style(1.2rem, $gray-03, 500);
}

.divide-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

// 추후 dropdown 컴포넌트로 변경 예정
.dropdown {
  margin-right: 12px;
}

.content {
  min-height: 70vh;
  padding-bottom: 20px;
}

.filter-container {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 614px;
    border-radius: 10px;
    border: $glass-edge-01;
  }

  .header-container {
    border-radius: 10px 10px 0 0;
  }

  .dropdown {
    margin-right: 24px;
  }

  .up {
    top: 108px;
  }

  .scroll-top {
    bottom: 80px;
    right: 30px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 740px;
  }

  .scroll-top {
    right: 40px;
  }
}
