.notification-item {
  @include flex-arrange(space-between, center);
  gap: 12px;
  padding: 6px 0;
  line-height: 1.5em;
  color: $white-01;
  cursor: pointer;
  border-radius: 10px;

  @media (min-width: 768px) {
    gap: 6px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  strong {
    font-weight: 700;
  }

  p {
    width: 100%;
    span {
      padding-left: 5px;
      color: rgba(160, 165, 187, 1);
    }
  }

  .notification-dot {
    display: block;
    margin: 3px;
    min-width: 12px;
    min-height: 12px;
    background: $primary-01;
    border-radius: 50%;
  }

  &:hover {
    background-color: $black-02;
  }

  .notification-confirm {
    @include flex-arrange();
    min-width: 18px;
    min-height: 18px;
    background: $black-01;
    border-radius: 50%;
  }
}

.feed-detail-modalSize {
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    width: 614px;
    height: auto;
  }
  @media (min-width: 1200px) {
    width: 740px;
  }
}
