.notification-item {
  @include flex-arrange(space-between, center);
  gap: 12px;
  margin-bottom: 12px;
  line-height: 1.5em;
  color: $white-01;

  @media (min-width: 768px) {
    gap: 6px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  strong {
    font-weight: 700;
  }

  p {
    width: 100%;
    span {
      padding-left: 5px;
      color: rgba(160, 165, 187, 1);
    }
  }

  .notification-dot {
    display: block;
    min-width: 12px;
    min-height: 12px;
    background: $primary-01;
    border-radius: 50%;

    &.isRead {
      background: transparent;
    }
  }
}
