.toast-container {
  @include font-style(1.6rem, $white-01, 500);
  width: 270px;
  height: 60px;
  padding: 18px 20px;
  background: $black-01;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0px;
  right: 0;

  animation: fadeout 5s;

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
