.toast-container {
  @include flex-arrange;
  @include glass-02($edge: none);
  padding: 18px 8px;
  border-radius: 5px;
  z-index: 999;

  gap: 12px;
  position: fixed;
  top: 78%;
  right: 50%;
  transform: translateX(50%);

  animation: fadeout 3s linear;
  z-index: 100;

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.toast-message {
  width: 100%;
  @include font-style(1.4rem, $white-01, 500);
}

@media (min-width: 768px) {
  .toast-container {
    top: 120px;
    right: 15%;
  }
}
