.wrapper {
  @include flex-arrange(center, flex-start);
  flex-direction: column;
  padding: 78px 20px;
  width: 100%;
  position: relative;
}

.back {
  position: absolute;
  top: 30px;
  left: 20px;
}

.category {
  @include font-style(1.6rem, $gray-01, 500);
  margin-bottom: 8px;
}

.title {
  @include font-style(2.4rem, $black-01, 700);
  margin-bottom: 20px;
}

.divide-line {
  width: 100%;
  height: 1px;
  background-color: $gray-02;
  margin: 16px 0;
}

.content {
  margin-bottom: 16px;
}

.hashtag-container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.reaction-container {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}

.reaction {
  @include flex-arrange;
  @include font-style(1.2rem, $gray-01, 500);
  border-radius: 5px;
  gap: 8px;
  padding: 6px 35px;

  &:hover {
    background-color: $gray-03;
  }

  &:active {
    background-color: $gray-02;
  }
}

.comment-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
