.header-container {
  @include glass-01(none);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  width: 100%;
  height: auto;
  padding: 0 20px;
  margin-bottom: 12px;
  align-items: start;
  position: relative;
  align-items: center;
}

.profile-image {
  grid-row: 1;
  margin: 20px;
  width: 86px;
  height: 86px;
  border-radius: 70%;
  overflow: hidden;

  Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-information {
  grid-row: 1;
}

.profile-name-section {
  display: flex;
  margin: auto 0;
  margin-bottom: 10px;
  align-items: center;
  @include font-style(1.6rem, $white-01, 700);
}

.generation-badge {
  margin-left: 6px;
}

.profile-following-section {
  display: flex;
  gap: 20px;

  button {
    @include font-style(1.4rem, $gray-03, 600);
  }

  span {
    @include font-style(1.4rem, $gray-02, 500);
    margin-right: 8px;
  }
}

.profile-introduce-section {
  @include font-style(1.4rem, $gray-03, 500);
  border-top: $glass-edge-01;
  padding: 20px;
  grid-column: 1 / -1;
  grid-row: 2;
}

.profile-setting-button {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: flex-start;
  padding-top: 20px;

  button {
    width: 94px;
    height: 32px;
    border-radius: 100px;
    background-color: $black-01;
    color: $white-01;
  }
}

@media (min-width: 768px) {
  .header-container {
    position: relative;
    display: grid;
    height: 126px;
    grid-gap: 0;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto auto;
    height: auto;
    padding: 20px 30px;
    border-radius: 10px;
    grid-gap: 0;
    align-items: start;
  }

  .profile-image {
    grid-row: 1 / span 2;
    grid-column: 1;
    margin: 0;
  }

  .profile-information {
    grid-column: 2;
    grid-row: 1 / 3;
    margin-left: 20px;
  }

  .profile-following-section {
    padding-bottom: 10px;
  }

  .profile-introduce-section {
    @include font-style(1.4rem, $gray-03, 500);
    grid-column: 2;
    grid-row: 2;
    border-top: none;
    padding-bottom: 1px;
  }

  .introduce-empty {
    color: $gray-01;
  }
}
.profile-setting-or-following {
  position: absolute;
  // top: -20px;
  right: 30px;
  cursor: pointer;

  // margin 영역까지 클릭되는거 바꿔야함...
  button {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .header-container {
    width: 740px;
  }
}
