@media (min-width: 1200px) {
  .header-container {
    display: flex;
    background-color: $gray-02;
    width: 740px;
    height: 126px;
    border-radius: 10px;
    opacity: 0px;
    padding: 20px 30px;
  }

  .profile-information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 285px;
  }

  .profile-name-section {
    display: flex;
    font-weight: 700;
    margin: auto 0;
  }

  .profile-following-section {
    display: flex;
    font-weight: 600;
    gap: 20px;
    color: $black-02;

    span {
      color: $black-03;
      font-weight: 500;
      margin-right: 8px;
    }
  }

  .profile-intruduce-section {
    color: $gray-01;
  }

  .profile-setting-button {
    cursor: pointer;

    button {
      width: 94px;
      height: 32px;
      border-radius: 100px;
      background-color: $black-01;
      color: $white-01;
    }
  }
}
