.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 12px;
    height: 100%;

    .profile-image {
      border-radius: 50%;
      overflow: hidden;
    }

    .user {
      @include flex-arrange;
      position: relative;
      background-color: $gray-01;
      width: 44px;
      height: 44px;
      border-radius: 100px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: relative;

      .text {
        @include font-style(1.6rem, $white-01);
        width: 100%;
        background-color: $black-03;
        padding: 16px;
        border-radius: 5px;
        resize: none;
      }

      .error {
        position: absolute;
        right: 16px;
        bottom: 99px;
        font-size: 1.1rem;
        color: #ed1c24;
        padding-left: 16px;
      }

      .limit {
        position: absolute;
        right: 16px;
        top: 95px;
        font-size: 1.1rem;
        color: $gray-01;
        padding-left: 16px;
      }

      .addImage {
        width: 100%;
        height: 102px;

        .image-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          gap: 12px;

          .preview-box {
            display: flex;
            gap: 12px;
            width: 100%;

            .preview-container {
              position: relative;
              .preview-wrapper {
                width: 102px;
                height: 102px;
                border-radius: 5px;
                overflow: hidden;

                @media (min-width: 768px) {
                  width: 110px;
                  height: 110px;
                }

                .file-preview {
                  width: 100%;
                  height: 102px;
                  border-radius: 5px;
                }
              }
            }
            .close {
              position: absolute;
              right: -10px;
              top: -10px;
              z-index: 1;
            }
          }

          .file-label {
            @include flex-arrange;
            background-color: $black-03;
            width: 110px;
            border-radius: 5px;
            cursor: pointer;
            flex-shrink: 0;

            .label-text {
              color: $gray-01;
              font-size: 1.2rem;
              display: inline;
            }

            .current-upload-image {
              width: 100%;
              height: 100%;
            }
          }
          .file-input {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
          }
        }
      }

      @media (min-width: 768px) {
        width: 100%;
        gap: 12px;
      }
    }
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .button {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
  }
}
