.wrapper {
  display: grid;
  align-items: center;
  grid-template-areas: 'image nickname generation' 'image date .';
  row-gap: 2px;
  column-gap: 8px;
}

.profile-image {
  grid-area: image;
  cursor: pointer;
}

.info {
  display: flex;
  gap: 6px;
}

.nickname {
  @include font-style(1.4rem, $white-01, 600);
  // @include font-style(1.4rem, $white, 600); 로 변경 예정
  grid-area: nickname;
  text-align: left;
}

.created-at {
  grid-area: date;
  @include font-style(1.2rem, $gray-02, 500);
}
