.wrapper {
  @include flex-arrange(center, flex-start);
  flex-direction: column;
  position: relative;

  margin-bottom: 0px;

  @media (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.category-container {
  padding: 12px 20px;
  width: 100%;
  z-index: 1;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.no-post {
  @include flex-arrange;
  width: 100%;
  height: 540px;
  color: $white-01;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 0;
  }

  .post-container {
    padding: 0 24px 12px;
    gap: 12px;
  }

  .category-container {
    padding: 16px 24px;
  }
}
