.wrapper {
  @include flex-arrange(center, flex-start);
  flex-direction: column;
  position: relative;
}

.category-container {
  padding: 12px 20px;
  width: 100%;
  z-index: 1;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.no-post {
  @include flex-arrange;
  width: 100%;
  color: $white-01;
}

@media (min-width: 768px) {
  .post-container {
    padding: 0 24px 24px;
    gap: 12px;
  }
}
