.notification-modal {
  text-align: center;

  .notification-modal-wrapper {
    margin-top: 10px;
    width: 380px;
    height: 100%;
    @include flex-arrange(space-between, center);
    flex-direction: column;

    .notification-modal-container {
      @include flex-arrange(flex-start, center);
      flex-direction: column;
      gap: 25px;
      width: 100%;
      padding: 0 30px;

      @media (min-width: 768px) {
        margin: 0 auto 30px;
      }
    }
  }

  .notification-modal-item {
    width: 100%;
    @include flex-arrange(space-between, center);

    h3 {
      @include font-style(16px);
    }
  }
}
