.notification-modal {
  transform: translate(-27.2vw, -11.6vh);

  .notification-modal-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .notification-modal-item {
    width: 30%;
    @include flex-arrange(space-between, center);

    h3 {
      @include font-style(16px);
    }
  }
}
