.popOver-container {
  @include glass-02;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 10px;
  z-index: 999;

  @media (min-width: 768px) {
    bottom: -64px;
    max-width: 360px;
  }
}
