.followList-container {
  width: 100%;
  height: 100%;

  .followList-wrapper {
    @include flex-arrange(center, flex-start);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  @media (min-width: 768px) {
    width: 380px;
    height: auto;
    .followList-wrapper {
      max-height: 537px;
    }
  }
}
