.search-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;

  input {
    width: 210px;
    height: 36px;
    padding: 10px 20px;
    border-radius: 56px;
    background: $white-02;
    font-size: 1.4rem;
    font-weight: 600;

    &::placeholder {
      color: $gary-02;
    }

    @media (min-width: 768px) {
      width: 390px;
      height: 48px;
    }
  }

  .search-icon {
    position: absolute;
    right: 20px;
    width: 14px;
    height: 14px;

    @media (min-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }
}
