.question-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding: 16px 24px;
  background: $gray-02;
  margin-bottom: 8px;
  position: relative;
  transition: 0.3s all;

  @media (min-width: 768px) {
    margin-bottom: 12px;
  }

  &.toggled {
    height: auto;

    @media (min-width: 768px) {
      height: 78px;
    }

    h3 {
      opacity: 1;
    }
  }

  .question-title {
    @include flex-arrange(space-between, center);
    .toggle-icon {
      cursor: pointer;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    strong {
      @include font-style(14px, $black-03);
    }
  }

  h3 {
    opacity: 0;
    transition: 0.3s all;
    margin-top: 4px;
    @include font-style(16px, $black-01, 700);
  }

  @media (min-width: 768px) {
    border-radius: 10px;
  }
}
