.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 20px;
  background: $gray-02;

  color: $black-01;
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .wrapper {
    width: 614px;
    padding: 30px;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 740px;
  }
}
