.authForm-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 20px;

  h2 {
    @include font-style(1.6rem, $black-01, 700);
  }

  .auth-generation {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input {
      width: 100%;
      height: 48px;
      background: $gray-03;
      border-radius: 5px;
    }
  }
  .auth-image {
    display: flex;
    flex-direction: column;
    gap: 12px;
    span {
      @include font-style(1.2rem, $gray-01, 500);
    }
  }
  @media (min-width: 768px) {
    width: 380px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
