.wrapper {
  @include flex-arrange;
  @include font-style(2rem, $white-01, 700);
  flex-direction: column;
  margin-top: -20px;
  gap: 40px;
}

.button-container {
  @include flex-arrange;
  gap: 8px;
}

.button {
  @include font-style(1.6rem, $white-01, 700);
  padding: 14px 40px;
  border-radius: 5px;
}

.delete {
  background-color: $pink-01;

  &:hover {
    background-color: $red-01;
  }
}

.cancel {
  background-color: $black-03;

  &:hover {
    background-color: $black-02;
  }
}

@media (min-width: 768px) {
  .wrapper {
    margin-top: 0;
    padding: 30px 10px 10px;
  }

  .button {
    padding: 14px 50px;
  }
}
