.container {
  @include flex-arrange;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;

  @media (min-width: 768px) {
    z-index: 99;
  }

  .x {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 1;

    @media (min-width: 768px) {
      top: 32px;
      right: 30px;
    }
  }

  .wrapper.border {
    border-radius: 10px;
  }

  .wrapper {
    @include glass-02;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: {
      top: 70px;
      bottom: 30px;
      right: 20px;
      left: 20px;
    }

    @media (min-width: 768px) {
      max-height: 80vh;
      border-radius: 10px;
      padding-top: 30px;
    }

    .title {
      @include font-style(2rem, $white-01, 700);
      margin: 0 auto;
      flex-shrink: 0;
      padding: {
        top: 10px;
        bottom: 30px;
      }
    }

    .component {
      flex-grow: 1;
    }

    overflow: scroll;
    scrollbar-width: none;
    border-radius: 5px;
  }
}
