.container {
  @include flex-arrange;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;

  .wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: $white-01;
    width: 100%;
    height: 100%;
    padding: {
      top: 30px;
      bottom: 30px;
      right: 20px;
      left: 20px;
    }
    @media (min-width: 768px) {
      border-radius: 10px;
    }

    .x {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 20px;
    }

    .title {
      @include font-style(2rem, $black-01, 700);
      margin: 0 auto;
      flex-shrink: 0;
      padding: {
        top: 10px;
        bottom: 30px;
      }
    }

    .component {
      background-color: $white-01;
      flex-grow: 1;
    }
  }
}
